<!-- src/main/resources/templates/user-list.html -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
</head>
<body>
<h1>User List</h1>

<!-- Ajoutez ici du code Thymeleaf pour afficher la liste des utilisateurs -->
<!-- Par exemple : -->
<ul th:each="user : ${users}">
    <li th:text="${user.username}"></li>
</ul>
</body>
</html>
